body{
    font-family: 'Roboto';
    overflow-x: hidden;
}
.container-fluid{
    padding-left: 7vw !important;
    padding-right:7vw !important;
}
img.card-category{
    border-radius: 20px !important;
    width: 50vh;
}
.card{
    border: none !important;
}


.card-category img{
    width: 1vw !important;
}
#categories-slogan{
    font-size: 4rem;
    font-weight: bolder;
    padding-bottom: 5rem;
}

#title{
    font-family: 'Roboto';
    font-size:auto;
    font-weight: bold;
}
#landing-image{
    background-image: url("../imgs/background.png");
    height: 100vh;
    width: 100vw;

}
.card-title{
    padding-top: 1rem;
    align-self: center;
    text-align: center;
}